.block.sign-up .signupContainer {
     box-shadow: 0 1px 3px 0 rgba(14, 31, 53, 0.2);
     padding: 20px 0;
 }
 
 @media (max-width: 991px) {
     .block.sign-up .signupContainer {
         text-align: center;
     }
 }
 
 @media (max-width: 575px) {
     .block.sign-up .signupContainer {
         margin-top: 0;
     }
 }
 
 .block.sign-up .signupContainer article {
     padding: 0 15px;
     max-width: 1300px;
     margin: 0 auto;
     box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.4);
 }


@media (max-width: 1199px) {
    .block.sign-up .signupContainer article {
        padding: 20px 15px;
    }
}
 .block.sign-up .signupContainer .title_wrap {
     margin-bottom: 0;
 }
 .block.sign-up .signupContainer .title_wrap h2 {
     color: #053D6E;
     text-transform: inherit;
     font-weight: 500;
     line-height: 54px;
     font-size: 38px;
     margin: 10px 0;
 }

 @media (max-width: 575px) {
    .block.sign-up .signupContainer h2 {
       font-size: 20px;
    }
}
 
 @media (max-width: 991px) {
     .block.sign-up .signupContainer .title_wrap h2 {
         line-height: 42px;
         font-size: 25px;
     }
 }
 
 @media (max-width: 575px) {
     .block.sign-up .signupContainer .title_wrap h2 {
         line-height: 28px;
         font-size: 20px;
     }
 }
 
 .block.sign-up .signupContainer .title_wrap h2 strong {
     font-weight: 700;
 }
 .block.sign-up .title_wrap h2 em {
     font-weight: 300;
     font-family:"Poppins", sans-serif;
     font-style: normal;
 }
 .block.sign-up .signupContainer .error-message {
     color: #da0000;
     font-size: 13px;
     display: none;
 }

 .block.sign-up .signupContainer .error-message.invalid {
    display: inline-block;
}
 
 .block.sign-up .signupContainer .signup-form-group {
     text-align: center;
     border: 1px solid rgba(151, 151, 151, 0.2);
     border-radius: 24px;
     background-color: #FFFFFF;
     box-shadow: 0 20px 60px 20px rgba(201, 201, 201, 0.1), 0 2px 4px 0 #EBEBEB;
     padding: 15px 35px;
     width: 420px;
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-50%);
 }
 
 @media (max-width: 991px) {
     .block.sign-up .signupContainer .signup-form-group {
         padding: 15px 15px;
         max-width: 380px;
         width: 100%;
     }
 }
 
 @media (max-width: 767px) {
     .block.sign-up .signupContainer .signup-form-group {
         position: static;
         transform: inherit;
         margin: 22px auto;
     }
 }
 
 .block.sign-up label {
    display: inline-block;
    margin-bottom: 0.5rem;
}


 .block.sign-up .signupContainer .signup-form-group label {
     font-size: 24px;
     color: #4A4A4A;
     position: relative;
     padding-bottom: 15px;
     margin-bottom: 10px;
 }
 
 .block.sign-up .signupContainer .signup-form-group label::before {
     content: "";
     position: absolute;
     bottom: 5px;
     left: 50%;
     transform: translateX(-50%);
     width: 100px;
     height: 3px;
     background: #e77817;
 }
 
 @media (max-width: 575px) {
     .block.sign-up .signupContainer .signup-form-group label::before {
         font-size: 18px;
     }
 } 
 .block.sign-up .section.margin {
     margin: 45px 0;
 }
 
 @media (max-width: 575px) {
     .block.sign-up .section.margin {
         margin: 32px 0;
     }
 }

 .block.sign-up .row {
     display: flex;
     flex-wrap: wrap;
     margin-right: -15px;
     margin-left: -15px;
 }
 .block.sign-up .text-left {
     text-align: left !important;
 }
  
 .block.sign-up .promotionalText {
     margin-top: 0.25rem !important;
     color:#333;
     display: block !important;
 }
 
 .block.sign-up .signupsections {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}


@media (max-width: 768px) {
    .block.sign-up .signupsections {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (max-width: 767px) {
   .block.sign-up .signupsections {
       flex: 0 0 100%;
       max-width: 100%
   }
}
 .block.sign-up .justify-content-center {
     justify-content: center !important;
 }
 
 .block.sign-up .signupbtn {
    min-height: 50px;
    font-weight: 600;
    min-width: 196px;
    background: #E87817;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 5px 20px;
    transition: 0.3s;
    margin-top: 12px !important;
     margin-bottom: 12px !important;
}

@media (max-width: 1199px) {
    .block.sign-up .signupbtn {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .block.sign-up .signupbtn {
        font-size: 15px;
    }
}
 .block.sign-up input, .block.sign-up .phoneNumberTextBox {
    height: 40px;
    padding: 5px 15px;
    color: rgba(14, 31, 53, 0.5);
    font-weight: 300;
    font-style: italic;
    border-color: #AEB7C1;
    font-family: inherit;
    max-width: 260px;
    margin: 0 auto 10px auto;
    display: block;
   width: 100%;   
   font-size: 1 rem;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
 