main .section .block.image-link-slider.padded {
    padding: 2rem 1rem;
}

main .section .block.image-link-slider.gray-scale-bg {
    background: var(--background-color-gray-scale);
}

main .section .block.image-link-slider.align-button-center .button-container {
    text-align: center;
}

main .section .block.image-link-slider .block.carousel .carousel-slides img:not([src]) {
    visibility: hidden;
}

main .section .block.image-link-slider .block.carousel.multi-slide .carousel-slides .carousel-slide {
    padding: 2rem;
}

main .section .block.image-link-slider:not(.carousel) {
    border: var(--space-1px) solid var(--border-color-gray);
    border-radius: var(--space-10px);
    margin: 1rem;
}

@media (width >= 48rem) {
    main .section .block.image-link-slider {
        margin: 0;
        height: 100%;
    }
}
