/*
Cutpoint 1: 768px - hide hamburger

*/

:root {
  /* defaults for rem calculations */
  font-size: 16px;

  /* color related */
  --black: #000;
  --white: white;
  --lighter-grey: #e1e1e1;
  --light-grey: #ccc;
  --normal-grey2: #9f9f9f;
  --normal-grey: #8e8d8d;
  --dark-grey: #636363;
  --theme-blue: #415270;
  --theme-dark-blue: #314467;
  --theme-orange: #e77817;
  --linear-gradient-theme: linear-gradient(to bottom, #e77817, #97291e);

  /* line main fine space related */
  --line-width-xxs: 0.06rem;
  --line-width-xs: 0.13rem;

  /* margin space and width related */
  --space-xxs: 0.3rem;
  --space-xs: 0.6rem;
  --space-s: 0.9rem;
  --space-m: 1.3rem;
  --space-l: 1.6rem;

  /* font related */
  --font-size-normal: 1.6rem;
}

body, button {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Page specific css starts */

.top-bar {
  border-bottom: var(--line-width-xxs) solid var(--light-grey) /* Adding a bottom border */
}

.top-bar .container{
  display: flex;
  flex-direction: column;
  padding: var(--space-xs) var(--space-s) var(--space-xxs) var(--space-s);
}

.top-bar .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.top-bar .row1 .primary-buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.13rem;
}

.top-bar .row1 .primary-buttons button.desktop-element {
  display: none;
}

.top-bar .search-icon {
  width:  var(--line-width-m);
  height:  var(--line-width-m);
  margin-left:  var(--space-xxs);
}

.top-bar .logo img{
  flex-grow: 1;
  margin-left: var(--space-xs);
  padding-top: 0.3rem;
  width: 9.375rem;
}

/* round button specific css */
.round-button {
  border: none;
  border-radius: 1.6rem;
  background: var(--theme-blue);
  color: var(--white);
  min-height: 2rem;
  padding: 0.13rem var(--space-xs) 0.06rem var(--space-xs);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.68rem;
  cursor: pointer;
  margin-left: 0.3rem;
  list-style: none;
}

.round-button:hover {
  background: var(--theme-dark-blue);
}

.round-button.gradient-orange {
  background-image: var(--linear-gradient-theme);
}

/* hamburger menu icon creation */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.25rem;
  cursor: pointer;
  margin-right: 0.3rem;
  padding-top: 0.6rem;
}

.hamburger-menu div{
  width: var(--space-l);
  height: 0.13rem;
  background-color: var(--theme-blue);
  margin: 0.13rem 0;
}

/* hamburger pannel related css */

.sidepanel  {
  width: 16.875rem;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: -16.875rem;
  background-color: var(--white);
  overflow: hidden auto;
  transition: 0.4s;
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

.sidepanel.open {
  transform: translateX(100%);
  box-shadow: 0.19rem 0 0.6rem -0.3rem #000000bf;
}

.sidepanel .top-area {
  display: flex;
  flex-direction: row;
  margin-top: var(--space-xs);
  margin-left: var(--space-s);
}

.sidepanel .top-area-logo {
  margin-left: var(--space-xs);
  align-self: center;
  padding-top: 0.3rem;
}

.sidepanel .top-area-logo img {
  width: 9.375rem;
}

.sidepanel .bottom-area {
  display: flex;
  flex-direction: column;
  margin-top:  var(--space-m);
}

.bottom-area-primary-actions{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 0.06rem solid #415270;
}

/* hamburger menu close button */
.sidepanel .top-area-closebutton {
  width: 2.188rem;
  height: 2rem;
  align-self: center;
}

.hamburger-menu-close {
  height: 1.563rem;
  width: 1.563rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: var(--space-xxs);
}

.hamburger-menu-close .line {
  width: 100%;
  height: 0.13rem;
  background-color: var(--theme-blue);
}

.hamburger-menu-close .line-1 {
  transform: rotate(45deg) translateY(50%);
}

.hamburger-menu-close .line-2 {
  transform: rotate(-45deg) translateY(-50%);
}

/* Search bar related css */
.search-bar {
  display: none;
  flex-direction: row;
  justify-content: center;
  font-size: 0.688rem;
  color: var(--dark-grey);
}

.search-bar .category-picker {
  border: 0.06rem solid var(--normal-grey2);
  border-radius: 1.875rem 0 0 1.875rem;
  padding: var(--space-xs) 0 var(--space-xs) 0;
  min-width: 7.188rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar .search-box {
  padding: var(--space-xs) 0 var(--space-xxs) 0;
  border: 0.06rem solid var(--normal-grey2);
  border-left: none;
  border-radius: 0 1.875rem 1.875rem 0;
  min-width: 17.188rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar .category-picker .categories {
  margin-left: 0.938rem;
}

.search-bar .category-picker .dropdown {
  font-family: icomoon, sans-serif;
  margin-right: 0.625rem;
  font-weight: 800;
  color: var(--theme-dark-blue);
  font-size: 0.75rem;
}

.search-bar .search-box input, input::placeholder {
  margin-left: 0.938rem;
  border: none;
  width: 100%;
  outline: none;
  font-size: 0.875rem;
  color: var(--light-grey);
}

.search-bar .search-box input:focus{
  color: var(--theme-dark-blue);
}

.search-bar .search-box .search-icon {
  margin-right: 0.938rem;
}

/* main content related css */
.main-content {
  margin-left: 0.938rem;
  margin-right: 0.938rem;
}

h1,h2 {
  text-align: center;
  color: #053D6E;
}

p {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  color: #4a4a4a;
}

/* Main content breadcrumbs css */
.breadcrumbs {
  font-size: 1rem;
  margin: 1.25rem 0;
  color: var(--theme-blue);
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--theme-orange);
  transition: color 0.3s;
}

/* Topmost grey navigator related css */

.global-navigator {
  background-color: var(--lighter-grey);
}

.global-navigator .container {
  display: none;
  overflow-x: auto;
  font-size: 0.813rem;
  color: var(--dark-grey);
  scrollbar-width: thin;
}

.global-navigator .global-section-item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  flex: 0 0 auto;
}

.global-navigator .global-section-item a {
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  text-decoration: none;
  color: inherit;
}

.global-navigator .global-section-item a:hover {
  color: var(--theme-dark-blue);
}

.global-navigator .global-section-item:not(:last-child) a {
  border-right: var(--line-width-xxs) solid var(--normal-grey);
}

/* Copied accordian collapsable from hlx */

.accordion {
  font-size: 0.813rem;
  color: var(--normal-grey);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  user-select: none;
}

.accordion details summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details .accordion-item-label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rex;
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details a, .accordion-item-expand {
  margin-left: 0.938rem;
  margin-right: 0.938rem;
}

.accordion details .accordion-item-expand {
  font-weight: 600;
  font-size: large;
  color: var(--theme-dark-blue);
}

.accordion details:not(:has(.accordion-subitem)) .accordion-item-label {
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
}

.accordion details:not(:has(.accordion-subitem)) .accordion-item-expand {
  display: none; /* for no sub items, hide the plus symbol */
}

.accordion details[open] .accordion-item-label {
  border-bottom: none;
  
  a {
    color: var(--theme-dark-blue);
  }
}

.accordion details .accordion-subitem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion details .accordion-subitem .new-item-logo{
  width: 1.875rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}

/* Media queries starts here */

@media screen and (width >= 48rem) {
  /* CSS styles to apply when the screen width is more than 768px or 48rem */
  .sidepanel {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  /* global margin on the left and right side of full page */
  .container {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
  }

  .global-navigator .container{
    display: flex;
  }

  .top-bar .logo img {
    width: 15.625rem;
    height: auto;
  }

  .top-bar .row1 .primary-buttons button.desktop-element {
    display: block;
  }

  .top-bar .row1 .primary-buttons .search-bar {
    display: flex;
  }

  .top-bar .row1 .primary-buttons .mobile-element {
    display: none;
  }
}