.block.recentreports .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9rem;
  margin-left: -0.9rem; 
}

.block.recentreports .box h3 {
  font-size: var(--body-font-size-m);
  margin-bottom: var(--space-12px);  
  height: var(--heading-font-size-xxl);
} 

.block.recentreports .positive {
  color: var(--color-green); 
}

.block.recentreports .box h3 a {
  color: var(--primary);
  height: var(--heading-font-size-xxl);
}

/* .block.recentreports .carousel-card {
  transition: opacity 0.5s ease;
  padding: 0.5rem;
} */
.block.recentreports .box {
  border: var(--line-width-hairline) solid var(--color-light-gray-dark);
  border-radius: 8px;
  padding: 20px 15px 65px;
  transition: all ease-in-out 0.3s;
  position: relative;
  overflow: hidden;
  height: 251px;
}

@media (width >= 320px) {
  .block.recentreports .box {
      max-width: 240px;
  }
}

@media (width >= 576px) {
  .block.recentreports .box {
      max-width: 440px;
  }
}

@media (width >= 768px) {
  .block.recentreports .box {
    max-width: 222px;
}
}

@media (width >= 992px) {
  .block.recentreports .box {
    max-width: 270px;
}
}

@media (width >= 1200px) {
  .block.recentreports .box {
    max-width: 294px;
}
}

.block.recentreports .box .row > div {
  padding-top: var(--space-6px);
  padding-bottom: var(--space-6px);
}

/* .block.recentreports .carousel-slides{
  justify-content: center;
} */

.block.recentreports .box .value-content label {
  font-size: var(--heading-font-size-mxs);
  line-height: var(--line-height-little-small);
  color: var(label-color-light-gray);
}

.block.recentreports .btn:not(.dropdown-toggle) {
  color: var(--color-white);
  font-family: var(--body-font-family);
  text-transform: uppercase;
  border-radius: 30px;
  padding: var(--space-5px) var(--space-20px);
  border: 1px solid transparent;
 }

.block.recentreports .box .box-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 15px;
  text-align: center;
  line-height: normal;
}

.block.recentreports .box .box-footer .btn {
  font-size: var(--heading-font-size-ms);
  line-height: var(--line-height-regular);

  /* min-width: 120px;
  border-color: #e77817;
  color: #fff; */
  min-height: 30px;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  background-color: var(--button-color-orange);
 
}



.block.recentreports .box .value-content .label-value {
  font-size: var(--heading-font-size-m);
  color: var(--label-color-light-gray);
  font-weight: var(--font-weight-medium);
}

.block.recentreports .col-sm-8,.col-sm-4,.col-sm-12 {
  position: relative;
  width: 100%;
  padding-right: var(--space-15px);
  padding-left: var(--space-15px)
}

.block.recentreports .col-sm-8 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (width >= 576px) {
  .block.recentreports .col-sm-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
}

.block.recentreports .col-sm-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.block.recentreports .col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* .block.recentreports .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

