.block.tabs .tabs-list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    background-color: var(--primary);
    justify-content: left;
    padding: var(--space-8px) 0;
}

.block.tabs .tabs-list button {
    flex: 0 0 auto;
    border: var(--space-1px) solid var(--primary);
    padding: var(--space-8px) 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-white);
    font-family: var(--body-font-family);
}

.block.tabs .tabs-list button[aria-selected="true"] {
    position: relative;
    background-color: var(--primary);
    cursor: pointer;
    color: var(--button-color-orange);
    font-weight: var(--font-weight-semibold);
}

.block.tabs .tabs-list button[aria-selected="true"]::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 110%;
    background: var(--link-color-orange);
    height: var(--space-4px);
    width: 100%;
}

.block.tabs .tabs-list button[aria-selected="false"] {
    background-color: var(--primary);
    cursor: pointer;
}

.block.tabs .tabs-panel {
    max-width: 81.25rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border: var(--space-1px) solid var(--background-color-light-grey);
    overflow: auto;
}

.block.tabs .tabs-panel[aria-hidden="true"] {
    display: none;
}

.block.tabs .tabs-panel .title {
    margin-bottom: 2.188rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.block.tabs .tabs-panel .title::before {
    content: "";
    position: absolute;
    border-bottom: var(--space-1px) solid var(--border-color-light-gray);
    height: var(--space-1px);
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.block.tabs .tabs-panel .title h2 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    color: var(--title-color);
    line-height: 1.25rem;
    text-transform: uppercase;
    background: var(--color-white);
    padding: var(--space-5px) var(--space-15px);
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0;
}

.block.tabs .tabs-panel .title h2 img{
    height: 2rem;
    margin-right: var(--space-10px);
    vertical-align: middle;
}


@media (width >=48rem) {
    .block.tabs .tabs-list {
        justify-content: center;
    }

    .block.tabs .tabs-panel .title h2 {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .block.tabs .tabs-list button {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}
