.block.hero-slider:not(.carousel){
  height: 100%;
  background: var(--background-color-light-grey);
  border: var(--space-1px) solid var(--border-color-gray);
  border-radius: var(--space-10px);
}

.block.hero-slider .carousel-slides-container {
  border-radius: 16px;
  overflow: hidden;
}

.block.hero-slider .carousel-slide-indicators {
  margin: 1.3rem 0;
}

.carousel .carousel-slide .carousel-slide-image picture {
  position: static !important;
}
