.block.i-lens .title h2 {
    text-align: center;
}

.block.carousel-section {
    margin-top: 0.9rem;
    box-sizing: border-box;
    outline: none;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.block.carousel-section .carousel-container {
    background-color: var(--background-color-light-grey);
    border: 0.06rem solid rgb(14 31 53 / 20%);
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}

.block.carousel-section .carousel-header {
    background-color: var(--primary);
    padding: 0.6rem 0.9rem;
}

.block.carousel-section .align-items-center {
    align-items: center;
}

.block.carousel-section .dropdowns {
    text-align: left;
    position: relative;
    width: 100%;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    box-sizing: border-box;
    outline: none;
}


.block.carousel-section .dropdowns .dropdown-select {
    margin-left: 0.6rem;
    background-color: var(--color-white);
    display: inline-block;
    margin-bottom: 0.3rem;
    position: relative;
}

.block.carousel-section .dropdowns .icon-down-arrow {
    right: 0.6rem;
    position: absolute;

}

.block.carousel-section .dropdowns .icon-down-arrow::before {
    color: var(--color-orange);
    content: "\e905";
    font-size: 0.8rem;
    font-weight: var(--font-weight-bolder);
    font-family: icomoon, sans-serif;

}

.block.carousel-section .dropdowns .dropdown-toggle {
    height: 1.9rem;
    background-color: var(--background-color-transparent);
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0 1.9rem 0 0.6rem;
    border: 0.06rem solid #dee2e6;
    border-radius: 0;
    cursor: pointer;
}

.block.carousel-section .dropdowns .dropdown-toggle .dropdown-text {
    display: inline-block;
    overflow: hidden;
}

.block.carousel-section .dropdowns .dropdown-menu-container {
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 1000;
    overflow: hidden;
    will-change: transform;
    transform: translate3d(0, 1.9rem, 0);
    display: none;
    float: left;
    min-width: 100%;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: var(--text-color-normal);
    text-align: left;
    list-style: none;
    background-color: var(--color-white);
    background-clip: padding-box;
}

.block.carousel-section .dropdowns .dropdown-menu-container.visible {
    display: block;
}

.block.carousel-section .dropdowns .dropdown-menu {
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.block.carousel-section .dropdowns .dropdown-menu li {
    font-size: 0.8rem;
    text-transform: capitalize;
    display: block;
}

.block.carousel-section .dropdowns .dropdown-menu li a {
    color: var(--link-color-dark-blue);
    cursor: pointer;
    text-decoration: none;
}

.block.carousel-section .discover-more {
    text-align: center;
    margin-top: 1rem;
}

.block.carousel-section .discover-more .link-color {
    font-size: var(--body-font-size-xlm);
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--link-color-orange);
}


.block.carousel-section .discover-more .link-color .icon-up-arrow {
    transform: rotate(90deg);
    margin-left: 0.3rem;
}

.block.carousel-section.discover-more .link-color .icon-up-arrow::before {
    content: "\e900";
}

.block.carousel-section .carousel-body .box {
    background: #fff;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block.carousel-section .carousel-body .box + .box {
    border-top: 1px solid var(--color-lighter-gray);
}

.block.carousel-section .carousel-body .box:nth-child(even) {
    background: #F9F9F9;
}

.block.carousel-section .carousel-body .box h3 {
    margin-bottom: 10px;
}

.block.carousel-section .carousel-body .box ul {
    list-style: none;
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    /*margin-block-start: 0;*/
    /*margin-block-end: 0;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
    padding-inline-start: 0;
    /*unicode-bidi: isolate;*/
}

.block.carousel-section .carousel-body .box ul li {
    flex: 0 0 11.11%;
    max-width: 11.11%;
    padding: 0 10px;
}

.block.carousel-section .carousel-body .box label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.11px;
    color: #4B5057;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 28px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

.block.carousel-section .carousel-body .box .value {
    font-size: 21px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    display: block;
}

.block.carousel-section .title .icon {
    vertical-align: middle;
}

@media (width >= 48rem) {
    .block.carousel-section .carousel-title {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .block.carousel-section .carousel-header {
        padding: 0.6rem 3rem;
    }

    .block.carousel-section .carousel-header h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .block.carousel-section .discover-more {
        text-align: right;
    }
}